.card{
    display: flex;
    flex-direction: column;
    background-color:#208ee9;
    color:white;
    border : 1px solid grey;
    border-radius: 5px;
    padding: 25px;
    cursor: progress;
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: 0.25s ease-out;
    box-shadow: 10px 10px 5px rgba(0,128,128,1);
}

.card:hover{
    transform: scale(1.05);
}

.job-container a {
    color:white;
    

}